GRPC_ENDPOINT=https://example.grpc.solinfra.dev:443
GRPC_X_TOKEN=your_solinfra_grpc_token
RPC_ENDPOINT=https://example.rpc.solinfra.dev
JITO_URL=https://mainnet.block-engine.jito.wtf/api/v1
KEYPAIR_PATH=/path/to/solana/id.json
GEMINI_API_KEY=your_gemini_api_key
LEADER_WINDOW=4
BLOCKHASH_MODE=normal
TIP_PREMIUM_PERCENT=10
TIP_MIN_LAMPORTS=1000
JITO_TIP_ACCOUNTS=96gYZGLnJYVFmbjzopPSU6QiEV5fGqZNyN9nmNhvrZU5,HFqU5x63VTqvB8BoaQmX1DRunAoUnFYzaqAmqn1B7bMA,Cw8CFyM9FkoMi7K7Crf6HNQqf4uEMzpKw6QNghXLvLkY,ADaUMid9yfUytqMBgopwjb2DTLSokTSzL1zt6iGPaS49,DfXygSm4jCyNCybVYYK6DwvWqjKee8pbDmJGcLWNDXjh,ADuUkR4vqLUMWXxW9gh6D6L8pMSawimctcNZ5pGwDcEt,DttWaMuVvTiduZRnguLF7jNxTgiMBZ1hyAumKUiL2KRL,3AVi9Tg9Uo68tJfuvoKvqKNWKkC5wPdSSdeBnizKZ6jT